<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
        <li><a>Office Hours </a></li>
        <li><a  href="facultydetails">View Office Hours</a></li>
        <li><a href="create">Add Office hours</a></li>
        <li><a class="active" href="paper">Add message</a></li>
        <li><a href = "appointment">Appointments</a></li>
        <li><a href = "details">Student View</a></li>
        <li><a href="logout">Logout</a></li>
        
         </ul>
         
         <br/>
         <div class="container">
       <div class=row>
         <div class="col col-md-12">
           
           <br/>
           <h2>Add Display Message </h2>
           <br/>
           <% maxID=0; for (var i=0; i < messages.query.length; i++) {
           if(messages.query[i]._id > maxID) { maxID=messages.query[i]._id;   }
           var age = messages.query[i].age;}%>
             <div class="content">
               <div>
                 <form name="messages" method="POST" action="/savemessage">
     
                   <!-- <div class="form-group" id=frm>
                     <label for="_id">ID</label>
                     <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
                   </div> -->
     
                   <!-- COMMON TO EDIT AND CREATE -->
                   <div class=row>
                     <div class="col col-xs-12">
                       <div class="form-group">
                         <label for="info">Message:</label>
                         <textarea id="messageinfo" name="messageinfo" rows="2" cols="63" placeholder="Please leave you message."value="<%= messages.messageinfo %>"required>
                        </textarea>
                       </div>
                       
                     </div>
                   </div>
                   <hr>
                   <br/>
                   <br/>
                   
     
                     <div class="form-group">
                       <input type="submit" value="Save" class="btn btn-primary" />
                     </div>
                 </form>
     
                 <br/>
     
     
               </div>
             </div> 
         </div>
       </div>
     </div>
     
     
     
       
     