<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
       <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a  href="details" >View Office Hours</a></li>
        <li><a class="active"href="#contact">Book An Appointment</a></li>
        <li><a href="paper">Paper Dropoff</a></li>
        <li><a href = "login1">Faculty View</a></li>
         </ul>
         
       <div class="container">
           <form method="post"  action="contact">
             <header class="header1"> <h1>Book an Appointment</h1></header><br><br><br>
             <label><b>First name:</b></label>
             <input type="text" name="firstname" placeholder="Enter your first name">
             <br><br>
             <label><b>Last name:</b></label>
             <input type="text" name="lastname" placeholder="Enter your last name">
             <br><br>
             <label><b> University E-mail:</b></label>
             <input type="email" name="email" placeholder="enter University your email">
             <br><br>
             <label><b> Date:</b></label>
             <input type="date" name="date">
             <br><br>
             <label><b> From:</b></label>
             <input type="time" name="from">
             <br><br>
             <label><b> To::</b></label>
             <input type="time" name="to">
             <br><br>
             <label><b> Enter Message:</b></label><br>
             <textarea name="message" rows="2" cols="63" placeholder="Please leave you message."></textarea>
             <br><br>
             <button type="submit" value="Submit">Submit</button>
          </form> 
        </div>
      

    </body>
</html>