<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
    </head>
    <body>
      <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a  href="facultydetails">View Office Hours</a></li>
        <li><a class="active" href="create">Add Office hours</a></li>
        <li><a href="addmessage">Add message</a></li>
        <li><a href = "appointment">Appointments</a></li>
        <li><a href = "details">Student View</a></li>
        <li><a href="logout">Logout</a></li>
        </ul><br/>
        
<br/>
    <div class="container">
  <div class=row>
    <div class="col col-md-12">
      
      <br/>
      <h2>Add Office Hours </h2>
      <br/>
      <% maxID=0; for (var i=0; i < officehours.query.length; i++) {
      if(officehours.query[i]._id > maxID) { maxID=officehours.query[i]._id;   }
      var age = officehours.query[i].age;}%>
        <div class="content">
          <div>
            <form name="officehours" method="POST" action="/save">

              <!-- <div class="form-group" id=frm>
                <label for="_id">ID</label>
                <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
              </div> -->

              <!-- COMMON TO EDIT AND CREATE -->
              <div class=row>
                <div class="col col-xs-12">
                  <div class="form-group">
                    <label for="day">Day</label>
                    <input type="text" class="form-control" id="day" name="day" value="<%= officehours.day %>" required>
                  </div>
                  <div class="form-group">
                    <label for="starttime">Starting Time</label>
                    <input type="text" class="form-control" id="starttime" name="starttime" value="<%= officehours.starttime %>">
                  </div>
                  <div class="form-group">
                    <label for="endtime">End Time</label>
                    <input type="text" class="form-control" id="endtime" name="endtime" value="<%= officehours.endtime %>">
                  </div>
                </div>
              </div>
              <hr>
              <br/>
              <br/>
              

                <div class="form-group">
                  <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

            <br/>


          </div>
        </div> 
    </div>
  </div>
</div>



  
