<!DOCTYPE html>
            <html>
                <head>
                        
                        <link type ="text/css" href="../../Contact.css" rel="stylesheet" /> 
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
                        <title>Office Hours</title>
                </head>
                <body>
                   <ul class="topnav">
                    <li><a>Office Hours </a></li>
                    <li><a  href="../../facultydetails">View Office Hours</a></li>
                    <li><a href="../create">Add Office hours</a></li>
                    <li><a href="../paper">Add message</a></li>
                    <li><a href="../logout">Logout</a></li>
                    
                     </ul>
                     <a id="view" href = "changeview">change view</a>
                     <br/>
                     <div class="container">
                   <div class=row>
                     <div class="col col-md-12">
                        <br/>
                        <br/>
                        <h2>Confirm deletion of Office Hours</h2>
                        <br/>
                        <br/> <h4>Day: <%=  officehour.day %></h4>
                        
                          <br> <h4>From: <%=officehour.starttime%></h4>
                          
                            <br/> <h4>To: <%=officehour.endtime%></h4>
                            
                        
                        
                                    <form method="get" action="/facultydetails">
                                      <input type="submit" value="Return to list" class="btn btn-caution" />
                                    </form>
                        
                                    <br/>
                                    <form method="POST" action="/delete/<%= officehour._id %>">
                                      <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                                    </form>
                       
                     </div>
                   </div>
                 </div>
                 
                 
                 
                   
                 