<!DOCTYPE html>
<html>
    <head>
            
            <link type ="text/css" href="Contact.css" rel="stylesheet" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">   
            <title>Office Hours</title>
            
    </head>
    <body>
       <ul class="topnav">
        <li><a>Office Hours</a></li>
        <li><a  href="details" >View Office Hours</a></li>
        <li><a  href="contact" >Book An Appointment</a></li>
        <li><a class="active"href="#paper">Paper Dropoff</a></li>
        <li><a href = "login1">Faculty View</a></li>
         </ul>
         
         
       <div class="container">
           <form method="post"  action="paper">
             <header class="header1"> <h1>Paper DropOff</h1></header><br><br><br>
             <label><b>First name:</b></label>
             <input type="text" name="firstname" placeholder="Enter your first name">
             <br><br>
             <label><b>Last name:</b></label>
             <input type="text" name="lastname" placeholder="Enter your last name">
             <br><br>
             <label><b> University E-mail:</b></label>
             <input type="email" name="email" placeholder="enter University your email">
             <br><br>
             <label><b> Enter Message:</b></label><br>
             <textarea name="message" rows="2" cols="63" placeholder="Please leave you message."></textarea>
             <br><br>
             
             <video id="video" width="450" height="500" autoplay></video>
             <button id="snap">Snap Photo</button>
             <canvas id="canvas" width="400" height="400" name="image"></canvas>
             <script>
                 // Grab elements, create settings, etc.
                 var video = document.getElementById('video');
 
                 // Get access to the camera!
                 if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                 navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                 video.src = window.URL.createObjectURL(stream);
                 video.play();
                  });
                 }
                 var canvas = document.getElementById('canvas');
                 var context = canvas.getContext('2d');
                 var video = document.getElementById('video');
 
                // Trigger photo take
                document.getElementById("snap").addEventListener("click", function() {
                    context.drawImage(video, 0, 0, 640, 480);
    var image = new Image();
    image.name="img";
	image.src = canvas.toDataURL("image/png");
    document.body.appendChild(image);
                });
                // Put event listeners into place
		// window.addEventListener("DOMContentLoaded", function() {
		// 	// Grab elements, create settings, etc.
        //     var canvas = document.getElementById('canvas');
        //     var context = canvas.getContext('2d');
        //     var video = document.getElementById('video');
        //     var mediaConfig =  { video: true };
        //     var errBack = function(e) {
        //     	console.log('An error has occurred!', e)
        //     };

		// 	// Put video listeners into place
        //     if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        //         navigator.mediaDevices.getUserMedia(mediaConfig).then(function(stream) {
        //             video.src = window.URL.createObjectURL(stream);
        //             video.play();
        //         });
        //     }

        //     /* Legacy code below! */
        //     else if(navigator.getUserMedia) { // Standard
		// 		navigator.getUserMedia(mediaConfig, function(stream) {
		// 			video.src = stream;
		// 			video.play();
		// 		}, errBack);
		// 	} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
		// 		navigator.webkitGetUserMedia(mediaConfig, function(stream){
		// 			video.src = window.webkitURL.createObjectURL(stream);
		// 			video.play();
		// 		}, errBack);
		// 	} else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
		// 		navigator.mozGetUserMedia(mediaConfig, function(stream){
		// 			video.src = window.URL.createObjectURL(stream);
		// 			video.play();
		// 		}, errBack);
		// 	}

		// 	// Trigger photo take
		// 	document.getElementById('snap').addEventListener('click', function() {
		// 		context.drawImage(video, 0, 0, 320, 320);
		// 	});
		// }, false);
             </script>
          </form> 
        </div>
        

    </body>
</html>